# Dependencies
node_modules/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# IDE-specific files
.vscode/
.idea/

# Backend Binaries & Cache
backend/*.exe
backend/*.zip
backend/audio_cache/
backend/.env

# Local environment files
.env
.env.*

# Logs
*.log
npm-debug.log*

# Media files
*.mp3
*.m4a
*.wav
*.flac
*.ogg
